In [1]:
import pandas as pd

In [7]:
pwd

'/Users/benbitoun/Desktop/Gods of War'

In [19]:
#DF 1
df_supplier = pd.read_csv('TIV-Export-Top-50-1950-2017.csv', skiprows=10)
df_supplier.head()

,Rank 1950-2017,Supplier,1950,1951,1952,1953,1954,1955,1956,1957,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,1950-2017
0,1.0,United States,1742.0,4737.0,6414.0,8907.0,5939.0,6591.0,8382.0,8747.0,...,6912.0,8063.0,9087.0,9122.0,7660.0,9656.0,10048.0,10304.0,12394.0,673017
1,2.0,Soviet Union,4113.0,3874.0,6369.0,8348.0,8983.0,6054.0,6514.0,6614.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,454733
2,3.0,United Kingdom,2307.0,3402.0,3244.0,4621.0,5144.0,4762.0,5966.0,4994.0,...,1050.0,1151.0,1025.0,899.0,1580.0,1645.0,1149.0,1365.0,1214.0,140377
3,4.0,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4969.0,6091.0,8568.0,8283.0,7805.0,5224.0,5608.0,6937.0,6148.0,133412
4,5.0,France,8.0,67.0,43.0,315.0,354.0,428.0,825.0,673.0,...,1929.0,897.0,1758.0,1035.0,1492.0,1697.0,2077.0,2278.0,2162.0,120704

In [47]:
df_supplier = df_supplier.fillna(0)
df_supplier.head()

,Rank 1950-2017,Supplier,1950,1951,1952,1953,1954,1955,1956,1957,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,1950-2017
0,1.0,United States,1742.0,4737.0,6414.0,8907.0,5939.0,6591.0,8382.0,8747.0,...,6912.0,8063.0,9087.0,9122.0,7660.0,9656.0,10048.0,10304.0,12394.0,673017
1,2.0,Soviet Union,4113.0,3874.0,6369.0,8348.0,8983.0,6054.0,6514.0,6614.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,454733
2,3.0,United Kingdom,2307.0,3402.0,3244.0,4621.0,5144.0,4762.0,5966.0,4994.0,...,1050.0,1151.0,1025.0,899.0,1580.0,1645.0,1149.0,1365.0,1214.0,140377
3,4.0,Russia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4969.0,6091.0,8568.0,8283.0,7805.0,5224.0,5608.0,6937.0,6148.0,133412
4,5.0,France,8.0,67.0,43.0,315.0,354.0,428.0,825.0,673.0,...,1929.0,897.0,1758.0,1035.0,1492.0,1697.0,2077.0,2278.0,2162.0,120704

In [16]:
#DF 2
df_recipient = pd.read_csv('TIV-Import-Top-50-1950-2017.csv', skiprows=10)
df_recipient.head()

,Rank 1950-2017,Recipient,1950,1951,1952,1953,1954,1955,1956,1957,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,1950-2017
0,1.0,India,140.0,278.0,104.0,430.0,265.0,350.0,366.0,978.0,...,1863.0,2909.0,3596.0,4395.0,5322.0,3227.0,2845.0,3296.0,3358.0,119893
1,2.0,China,2703.0,2310.0,3822.0,3537.0,3503.0,1600.0,2255.0,2126.0,...,1392.0,1045.0,1113.0,1686.0,1388.0,1148.0,1142.0,991.0,1117.0,77296
2,3.0,Egypt,163.0,57.0,0.0,1.0,142.0,698.0,1065.0,479.0,...,159.0,686.0,630.0,281.0,675.0,380.0,1452.0,1711.0,2355.0,64321
3,4.0,Japan,NaN,NaN,8.0,223.0,316.0,411.0,758.0,1059.0,...,611.0,392.0,304.0,242.0,296.0,313.0,349.0,347.0,500.0,64035
4,5.0,Saudi Arabia,0.0,NaN,7.0,1.0,2.0,16.0,10.0,56.0,...,824.0,1083.0,1222.0,1033.0,1615.0,2741.0,3352.0,2986.0,4111.0,61783

In [49]:
df_recipient = df_recipient.fillna(0)
df_recipient.head()

,Rank 1950-2017,Recipient,1950,1951,1952,1953,1954,1955,1956,1957,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,1950-2017
0,1.0,India,140.0,278.0,104.0,430.0,265.0,350.0,366.0,978.0,...,1863.0,2909.0,3596.0,4395.0,5322.0,3227.0,2845.0,3296.0,3358.0,119893
1,2.0,China,2703.0,2310.0,3822.0,3537.0,3503.0,1600.0,2255.0,2126.0,...,1392.0,1045.0,1113.0,1686.0,1388.0,1148.0,1142.0,991.0,1117.0,77296
2,3.0,Egypt,163.0,57.0,0.0,1.0,142.0,698.0,1065.0,479.0,...,159.0,686.0,630.0,281.0,675.0,380.0,1452.0,1711.0,2355.0,64321
3,4.0,Japan,0.0,0.0,8.0,223.0,316.0,411.0,758.0,1059.0,...,611.0,392.0,304.0,242.0,296.0,313.0,349.0,347.0,500.0,64035
4,5.0,Saudi Arabia,0.0,0.0,7.0,1.0,2.0,16.0,10.0,56.0,...,824.0,1083.0,1222.0,1033.0,1615.0,2741.0,3352.0,2986.0,4111.0,61783

In [40]:
#DF 3:
df_usarms = pd.read_csv('TIV-Export-USA-1950-2017.csv')
df_usarms.head()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,280.0,245.0,520.0,410.0,144.0,69.0,94.0,72.0,250.0,2204
African Union**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11.0,11.0,NaN,NaN,NaN,5.0,19.0,NaN,838
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,13

In [45]:
df_usarms = df_usarms.fillna(0)
df_usarms.head()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,280.0,245.0,520.0,410.0,144.0,69.0,94.0,72.0,250.0,2204
African Union**,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2
Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.0,11.0,0.0,0.0,0.0,5.0,19.0,0.0,838
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13

In [54]:
df_conflicts = pd.read_csv('ucdp-prio-acd-181.csv')
df_conflicts.tail(50)

,conflict_id,location,side_a,side_a_id,side_a_2nd,side_b,side_b_id,side_b_2nd,incompatibility,territory_name,...,ep_end,ep_end_date,ep_end_prec,gwno_a,gwno_a_2nd,gwno_b,gwno_b.1,gwno_loc,region,version
2280,13604,Syria,Government of Syria,118,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,652,NaN,NaN,NaN,652,2,18.1
2281,13604,Syria,Government of Syria,118,"Government of Iran, Government of Russia (Sovi...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,652,"630, 365",NaN,NaN,652,2,18.1
2282,13604,Syria,Government of Syria,118,"Government of Iran, Government of Russia (Sovi...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,652,"630, 365",NaN,NaN,652,2,18.1
2283,13604,Syria,Government of Syria,118,"Government of Iran, Government of Russia (Sovi...",IS,234,NaN,1,Islamic State,...,1,2017-12-28,5.0,652,"630, 365",NaN,NaN,652,2,18.1
2284,13611,Mali,Government of Mali,72,NaN,FLM,6267,NaN,1,Macina Empire,...,1,2015-10-28,1.0,432,NaN,NaN,NaN,432,4,18.1
2285,13637,Afghanistan,Government of Afghanistan,130,"Government of Pakistan, Government of United S...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,700,"770, 2",NaN,NaN,700,3,18.1
2286,13637,Afghanistan,Government of Afghanistan,130,"Government of Pakistan, Government of United S...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,700,"770, 2",NaN,NaN,700,3,18.1
2287,13637,Afghanistan,Government of Afghanistan,130,Government of United States of America,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,700,2,NaN,NaN,700,3,18.1
2288,13638,Cameroon,Government of Cameroon,83,Government of Chad,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,471,483,NaN,NaN,471,4,18.1
2289,13638,Cameroon,Government of Cameroon,83,NaN,IS,234,NaN,1,Islamic State,...,1,2016-10-06,1.0,471,NaN,NaN,NaN,471,4,18.1
2290,13639,Niger,Government of Niger,75,Government of Chad,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,436,483,NaN,NaN,436,4,18.1
2291,13639,Niger,Government of Niger,75,"Government of Chad, Government of Nigeria",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,436,"483, 475",NaN,NaN,436,4,18.1
2292,13639,Niger,Government of Niger,75,"Government of Chad, Government of United State...",IS,234,NaN,1,Islamic State,...,1,2017-10-21,1.0,436,"483, 2",NaN,NaN,436,4,18.1
2293,13640,Chad,Government of Chad,87,NaN,IS,234,NaN,1,Islamic State,...,1,2015-11-01,1.0,483,NaN,NaN,NaN,483,4,18.1
2294,13640,Chad,Government of Chad,87,NaN,IS,234,NaN,1,Islamic State,...,1,2017-06-26,2.0,483,NaN,NaN,NaN,483,4,18.1
2295,13641,Nigeria,Government of Nigeria,84,"Government of Cameroon, Government of Chad, Go...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,475,"471, 483, 436",NaN,NaN,475,4,18.1
2296,13641,Nigeria,Government of Nigeria,84,"Government of Cameroon, Government of Chad, Go...",IS,234,NaN,1,Islamic State,...,0,NaN,NaN,475,"471, 483, 436",NaN,NaN,475,4,18.1
2297,13641,Nigeria,Government of Nigeria,84,Government of Chad,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,475,483,NaN,NaN,475,4,18.1
2298,13645,Yemen (North Yemen),Government of Yemen (North Yemen),123,NaN,IS,234,NaN,1,Islamic State,...,1,2015-10-06,1.0,678,NaN,NaN,NaN,678,2,18.1
2299,13646,Kenya,Government of Kenya,91,NaN,Al-Shabaab,717,NaN,1,Northeastern Province and Coast,...,0,NaN,NaN,501,NaN,NaN,NaN,501,4,18.1
2300,13646,Kenya,Government of Kenya,91,NaN,Al-Shabaab,717,NaN,1,Northeastern Province and Coast,...,0,NaN,NaN,501,NaN,NaN,NaN,501,4,18.1
2301,13646,Kenya,Government of Kenya,91,NaN,Al-Shabaab,717,NaN,1,Northeastern Province and Coast,...,1,2017-12-31,1.0,501,NaN,NaN,NaN,501,4,18.1
2302,13648,Egypt,Government of Egypt,117,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,651,NaN,NaN,NaN,651,2,18.1
2303,13648,Egypt,Government of Egypt,117,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,651,NaN,NaN,NaN,651,2,18.1
2304,13648,Egypt,Government of Egypt,117,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,651,NaN,NaN,NaN,651,2,18.1
2305,13653,India,Government of India,141,NaN,UNLFW,6320,NaN,1,Western South East Asia,...,0,NaN,NaN,750,NaN,NaN,NaN,750,3,18.1
2306,13653,India,Government of India,141,NaN,UNLFW,6320,NaN,1,Western South East Asia,...,0,NaN,NaN,750,NaN,NaN,NaN,750,3,18.1
2307,13653,India,Government of India,141,NaN,UNLFW,6320,NaN,1,Western South East Asia,...,1,2017-12-16,1.0,750,NaN,NaN,NaN,750,3,18.1
2308,13674,Bangladesh,Government of Bangladesh,143,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,771,NaN,NaN,NaN,771,3,18.1
2309,13674,Bangladesh,Government of Bangladesh,143,NaN,IS,234,NaN,1,Islamic State,...,1,2017-09-06,1.0,771,NaN,NaN,NaN,771,3,18.1
2310,13675,Lebanon,Government of Lebanon,119,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,660,NaN,NaN,NaN,660,2,18.1
2311,13675,Lebanon,Government of Lebanon,119,NaN,IS,234,NaN,1,Islamic State,...,1,2015-12-15,1.0,660,NaN,NaN,NaN,660,2,18.1
2312,13675,Lebanon,Government of Lebanon,119,NaN,IS,234,NaN,1,Islamic State,...,1,2017-08-27,3.0,660,NaN,NaN,NaN,660,2,18.1
2313,13692,"Afghanistan, United Kingdom, United States of ...",Government of Afghanistan,130,NaN,"Government of United Kingdom, Government of Un...","28, 3",NaN,2,NaN,...,1,2001-11-13,2.0,700,NaN,"2, 200",NaN,"2, 200, 700","1, 3, 5",18.1
2314,13694,Libya,Government of Libya,111,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,620,NaN,NaN,NaN,620,4,18.1
2315,13694,Libya,Government of Libya,111,Government of United States of America,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,620,2,NaN,NaN,620,4,18.1
2316,13694,Libya,Government of Libya,111,Government of United States of America,IS,234,NaN,1,Islamic State,...,1,2017-10-04,1.0,620,2,NaN,NaN,620,4,18.1
2317,13721,Algeria,Government of Algeria,109,NaN,IS,234,NaN,1,Islamic State,...,1,2015-05-20,1.0,615,NaN,NaN,NaN,615,4,18.1
2318,13809,Syria,Government of Syria,118,NaN,SDF,6288,NaN,3,Rojava Kurdistan,...,1,2016-11-28,1.0,652,NaN,NaN,NaN,652,2,18.1
2319,13886,Jordan,Government of Jordan,120,NaN,IS,234,NaN,1,Islamic State,...,1,2016-12-29,1.0,663,NaN,NaN,NaN,663,2,18.1
2320,13902,Turkey,Government of Turkey,115,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,640,NaN,NaN,NaN,640,2,18.1
2321,13902,Turkey,Government of Turkey,115,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,640,NaN,NaN,NaN,640,2,18.1
2322,13902,Turkey,Government of Turkey,115,NaN,IS,234,NaN,1,Islamic State,...,1,2017-09-06,1.0,640,NaN,NaN,NaN,640,2,18.1
2323,13936,Pakistan,Government of Pakistan,142,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,770,NaN,NaN,NaN,770,3,18.1
2324,13936,Pakistan,Government of Pakistan,142,NaN,IS,234,NaN,1,Islamic State,...,1,2017-12-17,1.0,770,NaN,NaN,NaN,770,3,18.1
2325,14113,Mali,Government of Mali,72,"Government of Armenia, Government of Austria, ...",IS,234,NaN,1,Islamic State,...,1,2017-09-14,1.0,432,"371, 305, 771, 211, 434, 760, 346, 439, 516, 8...",NaN,NaN,432,4,18.1
2326,14268,Iran,Government of Iran,114,NaN,IS,234,NaN,1,Islamic State,...,1,2017-06-11,1.0,630,NaN,NaN,NaN,630,2,18.1
2327,14275,Philippines,Government of Philippines,154,NaN,IS,234,NaN,1,Islamic State,...,0,NaN,NaN,840,NaN,NaN,NaN,840,3,18.1
2328,14275,Philippines,Government of Philippines,154,NaN,IS,234,NaN,1,Islamic State,...,1,2017-12-26,1.0,840,NaN,NaN,NaN,840,3,18.1
2329,14333,Tunisia,Government of Tunisia,110,NaN,IS,234,NaN,1,Islamic State,...,1,2016-11-09,1.0,616,NaN,NaN,NaN,616,4,18.1