In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Trade-Register.csv')
df.head()

  Unnamed: 0
0          N
1          S
2          I
3        NaN
4        NaN

In [5]:
#Brazil Airplanes 1950-2017
200+4+3+7+25+12+4+28+8+28+5+46+14+37+14+15+6+11+6+11+6+6+1+10+18+2+9+14+5+6+5+2+14+2+1+20+24+5+9+40+7+6+4+25+3+22+2+8+18+6+36+4+4+3+2+16+3+3+3+26+5+6+22+4+2+10+9+15+6+4+4+6+9+4+2+1

993

In [9]:
#Chile Airplanes 1950-2017
10+36+5+17+10+8+20+3+3+10+6+32+10+5+4+5+1+2+18+3+4+11+4+4+2+1+12+4+2+3+6+1+12+4+5+4+2+4+1+5+1+1+9+3+2+14+4+2+1+1+1+1+34+1+8+2+18+2+8+1+18+3+27+2+1+6+1+1+15+5+10+4+10+1+4+10+9+2+15+1+8+2+1+1+1+3+10+4+8+3+4+2+2+6

613

In [10]:
#Colombia Airplanes 1950-2017
+4+4+3+3+6+19+4+6+42+11+6+6+18+2+6+6+3+3+6+6+4+10+2+3+5+12+6+30+10+12+3+1+1+1+10+2+12+6+12+12+12+2+1+7+2+3+12+2+3+6+5+8+25+3+5+2+6+16+10+1+4+4+12+12+1+4+19+5+7+5+5+25+1+6+1+42+15+2+14+17+5+10+1+5+1+3+8+6+12+2+16+1+15+12+12+1+10+2+2+7+14+20+25+3+2+1+1+10+1+7+4+4+2+1+2+5+2+6+60+1+10

962